@using System
@using System.Collections.Generic
@using System.Text

@functions
{
    // Helpers that convert our bag for us.

    public string Author;
    public string LogoUrl;
    public string Name;
    public string RssUrl;
    public string SiteDescription;
    public string Url;
 
    public string Facebook;
    public string GooglePlus;
    public string Tumblr;
    public string Twitter;
    public string YouTube;

    public void InitValue( string key, ref string var )
    {
        if( Model.Bag.ContainsKey( key ) )
        {
            var = Model.Bag[key].ToString();
        }
        else
        {
            var = string.Empty;
        }
    }

    public void Init()
    {
        InitValue( "author", ref Author );
        InitValue( "logourl", ref LogoUrl );
        InitValue( "name", ref Name );
        InitValue( "rss", ref RssUrl );
        InitValue( "sitedescription", ref SiteDescription );
        InitValue( "url", ref this.Url );


        InitValue( "facebook", ref Facebook );
        InitValue( "googleplus", ref GooglePlus );
        InitValue( "tumblr", ref Tumblr );
        InitValue( "twitter", ref Twitter );
        InitValue( "youtube", ref YouTube );
    }
}

@{ 
    Init();
}

@using Pretzel.Logic.Templating.Context
@using Page = Pretzel.Logic.Templating.Context.Page
    

@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>
    
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta content="en-us" http-equiv="Content-Language" />
    
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    

    <title>@Model.Title</title>
    

    <!-- BOOTSTRAP STYLES-->
    <link href="css/bootstrap.css" rel="stylesheet" />
    

        <!-- FONTAWESOME STYLES-->
    <link href="css/font-awesome.css" rel="stylesheet" />
    

        <!--CUSTOM BASIC STYLES-->
    <link href="css/basic.css" rel="stylesheet" />
    

        <!--CUSTOM MAIN STYLES-->
    <link href="css/custom.css" rel="stylesheet" />
    

        <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    

    <link rel="shortcut icon" href="img/favicon.ico" />
    

</head>
<body>
    
    <div id="wrapper">
        <!-- Top row -->
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <!-- Top-left -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Meditation Enthusiasts Sites</a>
            </div>

            <!-- Right-buttons -->
            <div class="header-right"> <!-- Right-buttons -->
                <a href="message-task.html" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
                <a href="message-task.html" class="btn btn-primary" title="New Task"><b>40 </b><i class="fa fa-bars fa-2x"></i></a>
                <a href="login.html" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>
            </div>
        </nav>

        <!-- Side Bar -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <!-- User Image -->
                        <div class="user-img-div">
                            <img src="assets/img/user.png" class="img-thumbnail" />

                            <div class="inner-text">
                                Jhon Deo Alex
                                <br />
                                <small>Last Login : 2 Weeks Ago </small>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="index.html"><i class="fa fa-dashboard "></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop "></i>UI Elements <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="panel-tabs.html"><i class="fa fa-toggle-on"></i>Tabs & Panels</a>
                            </li>
                            <li>
                                <a href="notification.html"><i class="fa fa-bell "></i>Notifications</a>
                            </li>
                            <li>
                                <a href="progress.html"><i class="fa fa-circle-o "></i>Progressbars</a>
                            </li>
                            <li>
                                <a href="buttons.html"><i class="fa fa-code "></i>Buttons</a>
                            </li>
                            <li>
                                <a href="icons.html"><i class="fa fa-bug "></i>Icons</a>
                            </li>
                            <li>
                                <a href="wizard.html"><i class="fa fa-bug "></i>Wizard</a>
                            </li>
                            <li>
                                <a href="typography.html"><i class="fa fa-edit "></i>Typography</a>
                            </li>
                            <li>
                                <a href="grid.html"><i class="fa fa-eyedropper "></i>Grid</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main Page -->
        <div id="page-wrapper">

            <!-- Title -->
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">@Name</h1>
                        <h1 class="page-subhead-line">@SiteDescription</h1>
                    </div>
                </div>

                <!-- Main Content -->
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            @Raw( Model.Content )
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Footer -->
    <div id="footer-sec">
        &copy; @DateTime.Now.Year <a href="https://meditationenthusiasts.org">>Meditation Enthusiasts</a> | Design By : <a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a>
    </div>
</body>
</html>
