@using System
@using System.Collections.Generic
@using System.Text
@using Pretzel.Logic.Templating.Context
@using Page = Pretzel.Logic.Templating.Context.Page

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    @{ 
        StringBuilder tagBuilder = new StringBuilder();
        foreach( string tag in Model.Page.Tags )
        {
            tagBuilder.Append( tag + "," );
        }
        if( tagBuilder.Length > 0 )
        {
            tagBuilder = tagBuilder.Remove( tagBuilder.Length - 1, 1 );
            @:<meta name="keywords" content="@tagBuilder.ToString()" />
        }
    }
    <meta name="description" content="@Model.Title on Meditation Enthusiasts Sites!" />

    <title>@Model.Title</title>


    <!-- BOOTSTRAP STYLES-->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />


    <!-- FONTAWESOME STYLES-->
    <link href="/static/css/font-awesome.css" rel="stylesheet" />


    <!--CUSTOM BASIC STYLES-->
    <link href="/static/css/basic.css" rel="stylesheet" />


    <!--CUSTOM MAIN STYLES-->
    <link href="/static/css/custom.css" rel="stylesheet" />


    <!-- GOOGLE FONTS-->
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />


    <link rel="shortcut icon" href="/static/img/favicon.ico" />
</head>
<body>
    <div id="wrapper">
        <!-- Top row -->
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <!-- Top-left -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </nav>

        <!-- Side Bar -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="/index.html"><img src="/static/img/logo.png" width="240" height="240" /></a>
                    </li>
                    <li>
                        <a href="/index.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-search"></i>Browse<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/browse/"><i class="fa fa-circle-o"></i>Browse All</a>
                            </li>
                            <li>
                                <a href="/browse/meditation.html"><i class="fa fa-circle-o"></i>Meditation Sites</a>
                            </li>
                            <li>
                                <a href="/browse/yoga.html"><i class="fa fa-circle-o"></i>Yoga Sites</a>
                            </li>
                            <li>
                                <a href="/browse/buddhism.html"><i class="fa fa-circle-o"></i>Buddhism Sites</a>
                            </li>
                            <li>
                                <a href="/browse/bytag.html"><i class="fa fa-tags"></i>By Tag</a>
                            </li>
                            <li>
                                <a href="/browse/search.html"><i class="fa fa-search"></i>Search</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i>Submit<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/submit/"><i class="fa fa-upload"></i>Submit Your Site</a>
                            </li>
                            <li>
                                <a href="/submit/delete.html"><i class="fa fa-trash"></i>Delete Your Site</a>
                            </li>
                            <li>
                                <a href="/submit/faqs.html"><i class="fa fa-question-circle"></i>Submission FAQs</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/globalatomfeed.xml"><i class="fa fa-rss"></i>Global ATOM Feed</a>
                    </li>
                    <li>
                        <a href="/globalrssfeed.xml"><i class="fa fa-rss"></i>Global RSS Feed</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-users"></i>Follow Us!<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="https://reddit.com/r/MeditationSites"><i class="fa fa-reddit"></i>Reddit</a>
                            </li>
                            <li>
                                <a href="https://twitter.com/MeditationSites"><i class="fa fa-twitter"></i>Twitter</a>
                            </li>
                             <li>
                                <a href="https://github.com/MeditationEnthusiasts/sites"><i class="fa fa-github"></i>GitHub</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a href="/credits.html"><i class="fa fa-file-text"></i>Credits</a>
                    </li>
                    <li>
                        <a href="/donate.html"><i class="fa fa-usd"></i>Donate</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main Page -->
        <div id="page-wrapper">
            @Raw( Model.Content )
        </div>
    </div>

    <!-- Footer -->
    <div id="footer-sec">
        &copy; @DateTime.Now.Year <a href="https://meditationenthusiasts.org">Meditation Enthusiasts</a> | Design By : <a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a> | <a href="/disclaimer.html">Disclaimer</a> | 
        <span>Page generated on @(DateTime.UtcNow.ToString("R"))</span>
    </div>

    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/static/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/static/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="/static/js/custom.js"></script>
</body>
</html>
