---
layout: layout
---

@functions
{
    // Helpers that convert our bag for us.

    public string Author;
    public string LogoUrl;
    public string RssUrl;
    public string SiteUrl;

    public string Facebook;
    public string GooglePlus;
    public string GitHub;
    public string Tumblr;
    public string Twitter;
    public string YouTube;

    public void InitValue( string key, ref string var )
    {
        if( Model.Bag.ContainsKey( key ) )
        {
            var = Model.Bag[key].ToString();
        }
        else
        {
            var = string.Empty;
        }
    }

    public void Init()
    {
        InitValue( "author", ref Author );
        InitValue( "logourl", ref LogoUrl );
        InitValue( "rss", ref RssUrl );
        InitValue( "url", ref SiteUrl );


        InitValue( "facebook", ref Facebook );
        InitValue( "googleplus", ref GooglePlus );
        InitValue( "github", ref GitHub );
        InitValue( "tumblr", ref Tumblr );
        InitValue( "twitter", ref Twitter );
        InitValue( "youtube", ref YouTube );
    }
}

@{
    Init();
}

@using Pretzel.Logic.Templating.Context
@using Page = Pretzel.Logic.Templating.Context.Page
@using System.IO;
@using System.Xml;
@using System.ServiceModel.Syndication;

@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>

<!-- Title -->
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">@Model.Page.Title</h1>
            <div class="page-subhead-line">
                <p>Author(s): @Author</p>
                <p>
                    Tagged as:
                    @foreach( string tag in Model.Page.Tags )
                    {
                        foreach( var page in Model.Site.Pages )
                        {
                            if( page.Bag.ContainsKey( "tag" ) )
                            {
                                if( tag.Equals( page.Bag["tag"] ) )
                                {
                                    @:<a href="@(page.Url)">@(tag)</a>,
                                }
                            }
                        }
                    }
                </p>
            </div>
        </div>
    </div>

    <!-- Right-buttons -->
    <div class="page-subhead-line header-right">
        <!-- Right-buttons -->

        <a href="@SiteUrl" class="btn btn-success" title="Visit Site"><i class="fa fa-send fa-2x"></i>Visit Site</a>

        @if( string.IsNullOrEmpty( GitHub ) == false )
        {
            <a href="@GitHub" class="btn btn-default" title="default"><i class="fa fa-github fa-2x"></i></a>
        }
        @if( string.IsNullOrEmpty( Facebook ) == false )
        {
            <a href="@Facebook" class="btn btn-primary" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a>
        }
        @if( string.IsNullOrEmpty( Twitter ) == false )
        {
            <a href="@Twitter" class="btn btn-info" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
        }
        @if( string.IsNullOrEmpty( YouTube ) == false )
        {
            <a href="@YouTube" class="btn btn-danger" title="YouTube"><i class="fa fa-youtube fa-2x"></i></a>
        }
        @if( string.IsNullOrEmpty( GooglePlus ) == false )
        {
            <a href="@GooglePlus" class="btn btn-warning" title="Google+"><i class="fa fa-google-plus fa-2x"></i></a>
        }
        @if( string.IsNullOrEmpty( Tumblr ) == false )
        {
            <a href="@Tumblr" class="btn btn-default" title="Tumblr"><i class="fa fa-tumblr fa-2x"></i></a>
        }
        <a href="/report.html" class="btn btn-danger" title="Report"><i class="fa fa-exclamation-circle fa-2x"></i> Report</a>
    </div>

    @if( string.IsNullOrEmpty( LogoUrl ) == false )
    {
        <div>
            <a href="@SiteUrl"><img src="@LogoUrl" alt="Site Logo" /></a>
        </div>
    }

    <!-- Main Content -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    About Website:
                </div>
                <div class="panel-body">
                    @Raw( Model.Content )
                </div>
            </div>
        </div>
    </div>

    <!-- RSS Feed -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Latest Posts:
                </div>
                <div class="panel-body">
                    @{
                        try
                        {
                            string feedPath = Path.Combine( Path.GetDirectoryName( Model.Page.File ), "feed.xml" );
                            if( File.Exists( feedPath ) )
                            {
                                SyndicationFeed feed = null;

                                string feedContents = File.ReadAllText( feedPath );
                                using( StringReader feedReader = new StringReader( feedContents ) )
                                {
                                    // Get rid of permalink information.
                                    feedReader.ReadLine(); // ---
                                    feedReader.ReadLine(); // permalink: /profile/something/feed.xml
                                    feedReader.ReadLine(); // ---

                                    using( XmlReader reader = XmlReader.Create( feedReader ) )
                                    {
                                        feed = SyndicationFeed.Load( reader );
                                    }
                                }

                                @:<ul class="media-list">
                                foreach( SyndicationItem item in feed.Items )
                                {
                                    <text>
                                        <li class="media">
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="@(item.Links[0].Uri)">@(item.Title.Text)</a></h4>
                                                <h5 class="media-heading">@(item.PublishDate)</h5>
                                                <p>
                                                    @(Raw( System.Net.WebUtility.HtmlDecode( item.Summary.Text ) ))
                                                </p>
                                            </div>
                                        </li>
                                    </text>
                                }
                                @:</ul>
                            }
                            else
                            {
                                @:No RSS Feed Provided, please visit site to see latest posts.
                            }
                        }
                        catch( Exception )
                        {
                            @:An error occurred when trying to load the RSS feed.  Please <a href="/report.html">report</a> this site for reason
                            @: &quot;Broken RSS Feed&quot;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>