---
layout: layout
---
@functions
{
    // Helpers that convert our bag for us.

    public string Author;
    public string LogoUrl;
    public string RssUrl;
    public string Url;

    public string Facebook;
    public string GooglePlus;
    public string Tumblr;
    public string Twitter;
    public string YouTube;

    public void InitValue( string key, ref string var )
    {
        if( Model.Bag.ContainsKey( key ) )
        {
            var = Model.Bag[key].ToString();
        }
        else
        {
            var = string.Empty;
        }
    }

    public void Init()
    {
        InitValue( "author", ref Author );
        InitValue( "logourl", ref LogoUrl );
        InitValue( "rss", ref RssUrl );
        InitValue( "url", ref this.Url );


        InitValue( "facebook", ref Facebook );
        InitValue( "googleplus", ref GooglePlus );
        InitValue( "tumblr", ref Tumblr );
        InitValue( "twitter", ref Twitter );
        InitValue( "youtube", ref YouTube );
    }
}

@{
    Init();
}

@using Pretzel.Logic.Templating.Context
@using Page = Pretzel.Logic.Templating.Context.Page


@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>

<!-- Title -->
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">@Model.Page.Title</h1>
        </div>
    </div>

    <!-- Right-buttons -->
    <div class="page-subhead-line header-right row">
        <!-- Right-buttons -->
        @if( string.IsNullOrEmpty( Facebook ) == false )
        {
            <a href="@Facebook" class="btn btn-primary" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a>
        }
        @if( string.IsNullOrEmpty( Twitter ) == false )
        {
            <a href="@Twitter" class="btn btn-info" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
        }
        @if( string.IsNullOrEmpty( YouTube ) == false )
        {
            <a href="@YouTube" class="btn btn-danger" title="YouTube"><i class="fa fa-youtube fa-2x"></i></a>
        }
        @if( string.IsNullOrEmpty( GooglePlus ) == false )
        {
            <a href="@GooglePlus" class="btn btn-warning" title="Google+"><i class="fa fa-google-plus fa-2x"></i></a>
        }
        @if( string.IsNullOrEmpty( Tumblr ) == false )
        {
            <a href="@Tumblr" class="btn btn-default" title="Tumblr"><i class="fa fa-tumblr fa-2x"></i></a>
        }
        <a href="/report.html" class="btn btn-danger" title="Report"><i class="fa fa-exclamation-circle fa-2x"></i> Report</a>
    </div>

    @if( string.IsNullOrEmpty( LogoUrl ) == false )
    {
        <div>
            <img src="@LogoUrl" alt="Site Logo" />
        </div>
    }

    <!-- Main Content -->
    <div class="row">
        <div class="col-md-12">
            <div>
                @Raw( Model.Content )
            </div>
        </div>
    </div>
</div>